.config/tmux/plugins
.config/nvim/lazy-lock.json
.config/lazygit/state.yml
.zsh_aliases
.config/nvim/test
.config/nvim/lua/plugins/plugin_dev/
.config/nvim/lua/plugins/dev.lua
.config/nvim/lua/plugin_development.lua
.*-bk
